.messenger {
  width: 330px;
  position: fixed;
  bottom: 0;
  right: 15%;

  z-index: 1000;

  border-radius: 5px 5px 0 0;
  color: white;
  background-color: var(--background-secondory);
  color: rgba(255, 255, 255, 0.745);
  border: 1px solid var(--border-color);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  height: 44px;

  border-bottom: 1px solid var(--border-color);
  padding: 4px;
}

.chat-header img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding: 1px;
}

.chat-body {
  font-size: 12px;
  padding: 5px;
  height: 300px;
  overflow-y: scroll;
}

.chat-body::-webkit-scrollbar {
  display: none;
}

.chat-footer {
  padding: 10px;
}

.chat-footer input {
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

.msg {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  background-color: #e4e6eb;
  width: 100%;
}


.left{
  
}
