* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --background-color: rgb(24, 24, 24); */
  --background-color: rgb(12, 12, 12);
  --primary-color: #638c47;
  /* --background-secondory: #242424; */
  --background-secondory: #1e1d1d;
  --border-color: rgba(79, 79, 79, 0.72);
  --text-color: rgba(255, 255, 255, 0.72);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  position: relative;
}

.container {
  position: relative;
  display: flex;
  width: 1120px;
  margin: 0 auto;
  padding: 20px;
  top: 65px;
  /* height: 100vh; */

  display: flex;
  /* overflow-y: scroll; */
}

.container::-webkit-scrollbar {
  display: none;
}

.root {
  position: relative;
}

.post-link {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px; /* Закругленные углы для ползунка */
}

body::-webkit-scrollbar-track {
  background-color: var(--background-secondory);
  border-radius: 6px; /* Закругленные углы для трека */
}

.users-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1080px) {
  .filter {
    width: 24%;
  }
}

@media screen and (max-width: 900px) {
  .filter {
    width: 30%;
  }
}

@media screen and (max-width: 680px) {
  * {
    margin: 0;
  }
  .filter {
    width: 100%;
    margin: 0;
    left: 0;
    top: 50px;

    position: absolute;
  }

  .container {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .post-feed {
    width: 100%;
    position: relative;
    top: 75px;
    margin: 0;
  }

  .post {
    width: 100%;
    margin-top: 5px;
  }

  .user-list {
    display: none;
  }
}
