.messenger {
  width: 330px;
  position: fixed;
  bottom: 0;
  right: 15%;

  z-index: 1000;

  border-radius: 5px 5px 0 0;
  color: white;
  background-color: var(--background-secondory);
  color: rgba(255, 255, 255, 0.745);
  border: 1px solid var(--border-color);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  height: 44px;

  border-bottom: 1px solid var(--border-color);
  padding: 4px;
}

.chat-header img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding: 1px;
  cursor: pointer;
}

.chat-header img:hover {
  background-color: #303030;
}

.chat-body {
  font-size: 12px;
  padding: 5px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chat-body::-webkit-scrollbar {
  display: none;
}

.chat-footer form {
  padding: 10px;
  display: flex;
  align-items: center;
}

.chat-footer input {
  padding: 6px;
  width: 100%;
  border-radius: 10px;
  background-color: #303030;
  color: white;
}

.chat-footer form .form-img-submit {
  width: 32px;
  height: 32px;
  padding: 4px;
  margin-left: 10px;
  /* background-color: var(--primary-color); */
  border-radius: 20px;
  cursor: pointer;
}

.chat-footer img:hover {
  background-color: #303030;
}

.msg {
  display: flex;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
}

.right {
  padding: 8px 12px;
  max-width: 240px;
  border-radius: 10px;
  background-color: var(--primary-color);
  margin-left: auto; /* This will push it to the right */
  height: auto;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.left {
  padding: 8px 12px;
  max-width: 240px;
  border-radius: 10px;
  background-color: #303030;
  text-wrap: wrap;
  overflow-wrap: break-word;
}
