<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VOYAGE</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="navbar.css" />
  <link rel="stylesheet" href="post.css" />
  <link rel="stylesheet" href="messenger.css" />
  <link rel="stylesheet" href="users.css" />
  <link rel="stylesheet" href="chat.css" />
</head>
</head>

<body>
  <nav class="navbar">
    <div class="nav-start">
      <h1 class="logo">VOYAGE</h1>
      <div class="input-select-block">
        <div class="input-block">
          <input type="text" class="search_input" placeholder="Search" maxlength="15" />
          <img src="/./src/assets/img/search.svg" alt="" class="search-icon" />
        </div>
        <div class="select-block">

          <select name="categories" class="categories">
            <option value="categories">categories</option>
            <option value="Sport">Sport</option>
            <option value="Politics">Politics</option>
            <option value="Fun">Fun</option>
            <option value="Technologies">Technologies</option>
          </select>

        </div>

      </div>
    </div>
    <div class="user-block">
      <div class="message-button">
        <img src="/./src/assets/img/message.svg" alt="message-button">
      </div>
      <div class="create-post-button">
        <img src="/./src/assets/img/plus.svg" alt="create-post-button"></img>
      </div>
      <div class="user-profile">
        <img src="/./src/assets/img/userProfile.svg" alt="profile">

        <div class="user-profile-selector">
          <p>Filthy Frank</p>
          <img src="/./src/assets/img/arrow.svg" alt="arrow">
        </div>

      </div>
    </div>
  </nav>

  <main class="main">

    <div class="container">

      <div class="post-feed">

        <div class="post">
          <div class="post-header">
            <p class="post-header-category">/adventure</p>
            <div class="post-header-title">What is Lorem Ipsum?</div>
          </div>
          <div class="post-body">
            <div class="post-body-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal distribution of letters, as opposed to using 'Content he...</div>
            <img src="/./src/assets/img/post-img.png" alt="post-img" class="post-body-img">
          </div>
          <div class="post-footer">
            <div class="post-footer-commentsAmount">0 <span>comments</span></div>
          </div>

        </div>
        <div class="post">
          <div class="post-header">
            <p class="post-header-category">/adventure</p>
            <div class="post-header-title">What is Lorem Ipsum?</div>
          </div>
          <div class="post-body">
            <div class="post-body-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal distribution of letters, as opposed to using 'Content he...</div>

          </div>
          <div class="post-footer">
            <div class="post-footer-commentsAmount">0 <span>comments</span></div>
          </div>

        </div>
        <div class="post">
          <div class="post-header">
            <p class="post-header-category">/adventure</p>
            <div class="post-header-title">What is Lorem Ipsum?</div>
          </div>
          <div class="post-body">
            <div class="post-body-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal distribution of letters, as opposed to using 'Content he...</div>
            <img src="https://t4.ftcdn.net/jpg/02/86/76/77/360_F_286767786_boXM75PDLYIsYWzabZ3fKcM3esv50TNS.jpg"
              alt="post-img" class="post-body-img">
          </div>
          <div class="post-footer">
            <div class="post-footer-commentsAmount">0 <span>comments</span></div>
          </div>

        </div>
        <div class="post">
          <div class="post-header">
            <p class="post-header-category">/adventure</p>
            <div class="post-header-title">What is Lorem Ipsum?</div>
          </div>
          <div class="post-body">
            <div class="post-body-text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal distribution of letters, as opposed to using 'Content he...</div>
            <img src="https://s0.rbk.ru/v6_top_pics/media/img/9/30/756775343177309.jpg" alt="" class="post-body-img">

          </div>
          <div class="post-footer">
            <div class="post-footer-commentsAmount">0 <span>comments</span></div>
          </div>

        </div>

      </div>

    </div>

    <div class="users-container">

      <div>Here can be anything! Let's leave this area for some extra features</div>

      <div class="user-list">
        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
            alt="img">
          <p>Elissa Thompson</p>

        </div>

      </div>

    </div>

    <div class="messenger">
      <div class="chat-header">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwme89cM8YZvHcybGrZl_Obd9U9p5QabozJQ&usqp=CAU"
          alt="chat-user">
        <p>Elissa Thompson</p>

        <img src="/./src/assets/img/close.svg" alt="close">
      </div>
      <div class="chat-body">
        <div class="msg">
          <p class="left">Hello world
            How are YOur dasd asdasd
          </p>
        </div>

        <div class="msg">
          <p class="right">Hello world
            How are YOur dasd asdasd
          </p>
        </div>


        <div class="msg">
          <p class="right">Hello world
          </p>
        </div>



        <div class="msg">
          <p class="right">Hello world
            How are YOur dasd asdasddsadasdasdasdsadasddasdasdasdasdasdsaddasdasdasd
          </p>
        </div>


                <div class="msg">
          <p class="left">Hello worldHaksjdlaskld
            jasijdlaskjdljas.dkhaskjdnasjhdbakshdkajshdjhaskdj
            haskdjhasbdasbsagbdjasbdasjhdjakshdkasjhdkjashdkjasdas</p>
        </div>



                <div class="msg">
          <p class="left">Hello worldHaksjdlaskld
            jasijdlaskjdljas.dkhaskjdnasjhdbakshdkajshdjhaskdj
            haskdjhasbdasbsagbdjasbdasjhdjakshdkasjhdkjashdkjasdas</p>
        </div>



                <div class="msg">
          <p class="right">Hello worldHaksjdlaskld
            jasijdlaskjdljas.dkhaskjdnasjhdbakshdkajshdjhaskdj
            haskdjhasbdasbsagbdjasbdasjhdjakshdkasjhdkjashdkjasdas</p>
        </div>


                        <div class="msg">
          <p class="left">123
          </p>
        </div>

      </div>
      <div class="chat-footer">
        <input type="text" placeholder="Aa" />

        <img src="/./src/assets/img/send.svg" alt="send">
      </div>
    </div>

  </main>
  <footer class="footer"></footer>
</body>

</html>