<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="SeparatePostPage.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-start">
          <h1 class="logo">VOYAGE</h1>

            </div>

          </div>
        </div>
        <div class="user-block">
          <div class="message-button">
            <img src="/./src/assets/img/message.svg" alt="message-button">
          </div>
          <div class="create-post-button">
            <img src="/./src/assets/img/plus.svg" alt="create-post-button"></img>
          </div>
          <div class="user-profile">

            <img src="/./src/assets/img/userProfile.svg" alt="profile">

            <div class="user-profile-selector">
              <p>Filthy Frank</p>
              <img src="/./src/assets/img/arrow.svg" alt="arrow">

            </div>

          </div>
        </div>
      </nav>

      <main class="main">

        <div class="container">

                <div class="post">

                </div>

        </div>

</body>
</html>