<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="profile.css">
<body>
    <div class="profile-container">
        <div class="avatarBlock">
        <div class="imgBlock">
            <img class="userAvatar" src="assets/avatar.svg.png" alt="">


        </div>
        <div class="changeAvatarDiv">
            <button class="changeAvatarBtn">Change Avatar</button>
        </div>
    </div>
        <div class="infoBlock">
            <div class="userTextBlock">
                <div class="name">
                    <h2>John</h2>
                </div>
                <div class="name">
                    <h2>Doe</h2>
                </div>
                <div class="name">
                    <h2>test1</h2>
                </div>
                <div class="name">
                    <h2>test1@gmail.com</h2>
                </div>
                <div class="name">
                    <h2>Male</h2>
                </div>
                <div class="name">
                    <h2>01.10.2001</h2>
                </div>
            </div>

            <div class="emailBlock">

            </div>
        </div>
    </div>
</body>
</html>