<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN-UP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="auth.css" />
    <link rel="stylesheet" href="navbar.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-start">
        <h1 class="logo">VOYAGE</h1>
      </div>

      <div class="navbar-auth">
        <a href="/./src/templates/login.html">
          <div class="navbar-button"><p>sign in</p></div>
        </a>
        <!--
        <a href="/client/register.html">
          <div class="navbar-button"><p>sign up</p></div>
        </a> -->
      </div>
    </nav>

    <main class="main">
      <div class="container">
        <div class="auth">
          <form type="submit" action="/register" class="form" method="POST">
            <h1 class="auth-title">REGISTER</h1>
            <label>EMAIL</label>
            <input
              type="email"
              placeholder="Email address"
              name="email"
              required
            />
            <label>USERNAME</label>
            <input
              type="text"
              placeholder="Username"
              name="username"
              minlength="3"
              required
            />


            <div class="fullName">

              <div>
                <label>FIRST NAME</label>
                <input
                        type="text"
                        placeholder="First name"
                        name="firstname"
                        minlength="3"
                        required
                />

              </div>


              <div>
                <label>LAST NAME</label>
                <input
                        type="text"
                        placeholder="Last name"
                        name="lastname"
                        minlength="3"
                        required
                />

              </div>







            </div>




<!--            <fieldset>-->
              <label>GENDER</label>
            <div>
              <select id="gender" name="gender">
                <option value="male" selected>MALE</option>
                <option value="female">FEMALE</option>
                <option value="diverse">DIVERSE</option>
              </select>
            </div>
<!--            </fieldset>-->



            <label>PASSWORD</label>
            <input
                    type="password"
                    name="password"
                    placeholder="********"
                    minlength="8"
                    maxlength="32"
                    required
            />


            <label>CONFIRM PASSWORD</label>
            <input
                    type="password"
                    name="confirm_password"
                    placeholder="********"
                    minlength="8"
                    maxlength="32"
                    required
            />





            <button type="submit">REGISTER</button>
            <p>
              Already have an account? <a href="/./src/templates/login.html">sign-in</a>
            </p>
            <div class="errorMsg"></div>
          </form>
        </div>
      </div>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
