<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="SeparatePostPage.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-start">
          <h1 class="logo">VOYAGE</h1>

            </div>

          </div>
        </div>
        <div class="user-block">
          <div class="message-button">
            <img src="/./src/assets/img/message.svg" alt="message-button">
          </div>
          <div class="create-post-button">
            <img src="/./src/assets/img/plus.svg" alt="create-post-button"></img>
          </div>
          <div class="user-profile">

            <img src="/./src/assets/img/userProfile.svg" alt="profile">

            <div class="user-profile-selector">
              <p>Filthy Frank</p>
              <img src="/./src/assets/img/arrow.svg" alt="arrow">

            </div>

          </div>
        </div>
      </nav>

      <main class="main">

        <div class="container">

          <div class="pagePost">
            <div class="postPagePostHeader">
              <h5>Author: 4el13</h5>
              <h2>Tost title</h2>
            </div>
            <div class="postPagePostBody">
              <div class="postPageBodyText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi saepe facere nesciunt delectus! Exercitationem dolore illum adipisci nihil distinctio maxime tempora ex obcaecati id. Voluptate, nobis et. Voluptatum, enim quod?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate officia dolorum doloremque. Possimus incidunt ratione non facere deleniti praesentium neque accusamus, a, autem architecto at maiores velit sequi, saepe doloribus!
                Pariatur quae cum hic laboriosam dignissimos esse quod, adipisci expedita ullam enim minus ipsa accusantium dolor reprehenderit ea commodi, numquam odio ex praesentium, velit sit perferendis similique? Sed, quidem vel.
                Repudiandae corporis re rem harum mollitia, culpa illo, quasi amet ullam nulla velit voluptas consectetur sit optio in obcaecati nemo?
              </div>
              <div class="postPageBodyImg">
                <img src="./assets/wallpaperflare.com_wallpaper.jpg" alt="">
              </div>

            </div>
            <div class="postPagePostFooter">
              <div>/sport /fun /something</div>
              <div class="time">15.36 / 30.01.24</div>
            </div>
        </div>

        <div class="commentsContainer">


           <div class="comment">
            <div class="commentCreateTime">16.20 / 30.01.24</div>
              <div class="commentTextBlock">
                <p class="commentText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid a rerum impedit sapiente accusantium non libero molestias et illo culpa quisquam officiis aliquam qui debitis necessitatibus vitae odit, ipsum ab?</p>
              </div>
              <div class="comment-author">
               Author: Coolman
              </div>
           </div>




           <div class="comment">
            <div class="commentCreateTime">16.20 / 30.01.24</div>
              <div class="commentTextBlock">
                <p class="commentText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid a rerum impedit sapiente accusantium non libero molestias et illo culpa quisquam officiis aliquam qui debitis necessitatibus vitae odit, ipsum ab?</p>
              </div>
              <div class="comment-author">
               Author: Coolman
              </div>
           </div>





           <div class="comment">
            <div class="commentCreateTime">16.20 / 30.01.24</div>
              <div class="commentTextBlock">
                <p class="commentText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid a rerum impedit sapiente accusantium non libero molestias et illo culpa quisquam officiis aliquam qui debitis necessitatibus vitae odit, ipsum ab?</p>
              </div>
              <div class="comment-author">
               Author: Coolman
              </div>
           </div>




           <div class="comment">
            <div class="commentCreateTime">16.20 / 30.01.24</div>
              <div class="commentTextBlock">
                <p class="commentText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid a rerum impedit sapiente accusantium non libero molestias et illo culpa quisquam officiis aliquam qui debitis necessitatibus vitae odit, ipsum ab?</p>
              </div>
              <div class="comment-author">
               Author: Coolman
              </div>
           </div>



        </div>
        <div class="createCommentContainer">
            <textarea placeholder="Enter your comment text" cols="30" rows="4"></textarea>
            <button>Send</button>
        </div>
        </div>

</body>
</html>